<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    
    #view {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      
    #map-panel {
        height: 100%;
    }
        
      
    #toolbar {
        flex-basis: 40px;
        background-color: #efefef;
        z-index: 10;
        border-bottom: 2px solid #0f0f0f
    }
    
    #wisp-template {
        max-height: 400px;
        max-width: 300px;
    }
    
    #wisp-display { 
        height: 400px
    }
    
    .title-input {
        width: 300px
    }
    
    .description-input {
        width: 300px
    }
    
    .email-input {
        width: 100%
    }
    
    img {
        max-width:300px;
        height:auto;
    }
    
    .wisp-info-panel {
        width: 440px;
    }
    
    .wisp-description {
        word-wrap: break-word;
        border: 1px solid #666666;
        display: inline-block;
        min-height: 40px;
        width: 400px
    }
    
    .wisp-response-list {
        padding-left: 0px;
        margin-left: 0px;
        list-style-type: none;
    }
    
    .wisp-response {
        
        margin-left: 0px;
        border-bottom: 1px solid #bbbbbb
    }
    
    .wisp-response p {
        max-width: 400px
    }
    
    .response-box {
        resize: none;
        min-height: 40px;
        width: 400px
    }

    </style>