<label class="wisp-title">{{ctrl.data.wisp.title}}</label><br>
<span class="wisp-description">{{ctrl.data.wisp.description}}</span><br>
<img src={{ctrl.wisp.data.photos}} class="wisp-img"><br>
<label>Responses</label><br>
<ul class="wisp-response-list">
    <li class="wisp-response" ng-repeat="r in ctrl.data.wisp.responses"><p>{{r}}</p></li>
</ul>
<div ng-if="ctrl.data.response.showBox">
    <textarea class="response-box" ng-model="ctrl.data.response.responseText"></textarea><br>
    <button ng-click="ctrl.submitResponse()">Submit</button>
    <button ng-click="ctrl.cancelResponse()">Cancel</button>
</div>
<button ng-if="!ctrl.data.response.showBox" ng-click="ctrl.addResponse()">Add response</button>